{% extends 'base.html' %}
{% block bread %}
  <nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">
                <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                <span>Halaman Depan</span>
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Perjanjian Relawan</a></li>
        </ul>
      </ul>
  </nav>
{% endblock bread %}
{% block content%}
<div class="tile is-ancestor center">
    <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child notification is-info">
            <p class="title">Tentang BantuNusantara</p>
            <p class="has-text-justified"> BantuNusantara adalah platform yang menawarkan bantuan kepada orang-orang yang paling membutuhkan di negara ini, dan juga menawarkan ruang bagi sukarelawan yang ingin membantu dan atau mengantarkan donasi.</p> 
            <p class="has-text-justified"> BantuNusantara diadaptasi dari AYUDAPY, inisiatif dari Marcelo Elizeche, yang dengan sekelompok relawan di Paraguay, berhasil menjadikan eksperimental digital ini untuk mengukur kebutuhan nyata masyarakat yang diakibatkan oleh pandemi COVID-19.</p> 
            <p class="has-text-justified"> Saat ini, BantuNusantara didukung oleh organisasi-organisasi, perusahaan-perusahaan dan orang-orang yang secara sukarela menghidupkan platform ini sehingga bantuan dan donasi yang ada, menjangkau mereka yang membutuhkannya.</p> 
        </div>
        <div class="tile is-child notification is-warning box">
            <p class="title">Informasi Penting</p>
            <p class="has-text-justified">Sebelum mengonfirmasi bahwa Anda ingin menjadi sukarelawan, harap baca ketentuan Perjanjian Dasar Bersama kami yang menjelaskan hak dan kewajiban yang dilakukan oleh kedua belah pihak yang berkomitmen. </p>
            
        </div>
        <div class="tile is-child is-warning box">
            <p class="title">Pernyataan Relawan</p>
            <p class="has-text-justified">Berikut ini adalah PERJANJIAN UMUM DAN PERJANJIAN UMUM UNTUK TIDAK BERGABUNG DENGAN TINDAKAN HUKUM TERKAIT PARTISIPASI SAYA SEBAGAI RELAWAN DI KAMPANYE BantuNusantara dan mengatur aspek hubungan Anda dengan inisiatif ini.</p>
            <p class="has-text-justified">Saya secara bebas dan sukarela mendaftar ke platform digital <b>Kampanye BantuNusantara.org.</b> Saya menyatakan bahwa saya melepaskan dari tanggung jawab apa pun dan setuju untuk tidak mengambil tindakan hukum apa pun terhadap organisasi masyarakat sipil yang memimpin <b>Kampanye BantuNusantara.org</b>, sebagai produk/ hasil dari kesukarelaan saya di sini.</p>
            <p class="has-text-justified">Saya menyatakan bahwa saya tahu adanya risiko dan bahaya, dan saya setuju untuk menganggap mereka ada dengan berpartisipasi sebagai <b>RELAWAN</b> dalam <b>Kampanye BantuNusantara.org</b>. Saya akan berpartisipasi di dalamnya sejak tanggal mereka menetapkan peran saya sampai saya secara sukarela dan tanpa paksaan memutuskan untuk berhenti terkait dengan BantuNusantara.</p>
            <p class="has-text-justified">Saya memahami bahwa <b>PERJANJIAN UMUM DAN PERJANJIAN UMUM UNTUK TIDAK BERGABUNG DENGAN TINDAKAN HUKUM TERKAIT PARTISIPASI SAYA SEBAGAI RELAWAN</b>, ini mencakup perdata dan/ atau pidana, administratif, dan segala bentuk pertanggungjawaban, tindakan hukum, dan kerusakan apa pun yang disebabkan oleh tindakan atau kelalaian kampanye <b>Kampanye BantuNusantara.org</b>.</p>
            <p class="has-text-justified">Saya menyatakan bahwa saya tidak memiliki hambatan kesehatan yang membatasi partisipasi saya sebagai <b>RELAWAN</b> dalam <b>Kampanye BantuNusantara.org</b>.</p>
            <p class="has-text-justified">Saya setuju untuk menerima <b>KEWAJIBAN, IZIN, DAN LARANGAN</b>, yang berasal dari partisipasi saya sebagai seorang <b>RELAWAN</b>.</p>
            <p class="has-text-justified">Saya menyatakan bahwa data yang dimasukkan dalam <b>FORMULIR PENDAFTARAN RELAWAN</b>, ini adalah benar, dan segala kelalaian di dalamnya semata-mata menjadi tanggung jawab saya.</p>
        </div>
        <div class="tile is-child ">
            <a href="/voluntario">
                <button class="button is-success is-small is-fullwidth has-text-weight-bold" name='submit'>
                    <span>Saya sudah membaca dan menerima ketentuan/perjanjian ini.</span>
                    <span class="icon is-medium"><i class="fas fa-thumbs-up is-le"></i></span>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
