{% extends 'base.html' %}
{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="/">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Halaman Depan</span>
      </a>
    </li>
    <li class="is-active"><a href="#" aria-current="page">Kontak</a></li>
  </ul>
</nav>
{% endblock bread %}
{% block content%}

<div class="columns is-centered center">
  <div class="column">
    <div class="tile is-ancestor center">
      <div class="tile is-5 is-vertical is-parent">
        <div class="tile is-child is-warning">
          <p class="title">Anda mau menghubungi kami?</p>
          <p class="has-text-justified">
            <a href="/permintaan"><b>Jika Anda memerlukan bantuan, klik di sini.</b></a> 
          </p>
          <br>
          <p class="has-text-justified">
            Jika Anda memiliki pertanyaan tentang platform ini, Anda dapat menghubungi kami melalui 
              <a href="mailto:bantunusantara@gmail.com"><i>bantunusantara@gmail.com</i></a> dan kami dengan senang hati akan membantu Anda.
          </p>
        </div>

          <div class="tile is-child buttons">
          <a href="https://www.twitter.com/ayudapyorg" target="_blank" rel="noopener noreferrer">
            <button class="button is-medium">
              <span class="icon">
                <i class="fab fa-twitter has-text-info"></i>
              </span>
              <!-- <span>@ayuda_py</span> -->
            </button>
          </a>
          <a href="https://instagram.com/Bantu.Nusantara" target="_blank" rel="noopener noreferrer">
            <button class="button is-medium">
              <span class="icon">
                <i class="fab fa-instagram has-text-danger"></i>
              </span>
              <!-- <span>@ayuda.py</span> -->
            </button>
          </a>
          <a href="https://www.facebook.com/BantuNusantara/" target="_blank" rel="noopener noreferrer">
            <button class="button is-medium">
              <span class="icon">
                <i class="fab fa-facebook has-text-link"></i>
              </span>
              <!-- <span>@ayudapy</span> -->
            </button>
          </a>
          <a href="https://www.youtube.com/channel/UCtRcDRTKA2uQCzfvlPNvbNQ" target="_blank" rel="noopener noreferrer">
            <button class="button is-medium">
              <span class="icon">
                <i class="fab fa-youtube has-text-danger"></i>
              </span>
              <!-- <span>@ayudapy</span> -->
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
