{% extends 'base.html' %}

{% block bread %}
<nav class="breadcrumb  has-arrow-separator" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">
                <span class="icon is-small">
                    <i class="fas fa-home" aria-hidden="true"></i>
                </span>
                <span>Halaman Depan</span>
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Ketentuan Penggunaan</a></li>
    </ul>
</nav>
{% endblock bread %}

{% block content%}
{% comment %} <article class="message is-large is-primary">
    <div class="message-header">
        <p>PERNYATAAN HUKUM</p>
    </div>
    <div class="message-body"> {% endcomment %}
        <div class="content">
            <h1>PERNYATAAN HUKUM</h1>

            <h3>Disclaimer/Penolakan</h3>

            <p>Dengan mengakses dan menggunakan situs web dan basis data BantuNusantara, Anda terikat secara hukum atas ketentuan penggunaan berikut. 
            <br>
            Jika Anda tidak setuju dengan ketentuan penggunaan ini, Anda tidak akan dapat mengakses situs web BantuNusantara.</p>

            <h2>1. Informasi yang dipublikasikan di situs web</h2>

            <p>Informasi yang disediakan oleh BantuNusantara didasarkan hanya pada kontribusi yang diberikan pengguna secara sukarela; oleh karena itu, tanggung jawab terkait dengan kebenaran data yang dipublikasikan dalam daftar publik ini bergantung kepada orang yang menggunakannya.</p>

            <h2>2. Disclaimer/Penolakan</h2>

            <p>BantuNusantara tidak bertanggung jawab atas informasi yang salah, tidak lengkap, atau tidak relevan yang dipublikasikan di situs web ini. <br>
                BantuNusantara tidak bertanggung jawab atas kegagalan fungsi situs web.<br>
                BantuNusantara tidak bertanggung jawab terhadap kerugian atau kerusakan materi dan intelektual baik secara langsung maupun tidak langsung, yang disebabkan akses ke situs web ini beserta kontennya. 
<br>
BantuNusantara dirancang untuk mencegah serangan Pemalsuan Permintaan Lintas Situs (CSRF) yang terkait dengan transmisi data. Namun, pengiriman data melalui internet tidak sepenuhnya aman. Oleh karena itu, informasi yang dipublikasikan di situs web BantuNusantara dapat mengalami perubahan atau gangguan serta pelanggaran keamanan dan kerahasiaan. Untuk alasan ini, BantuNusantara tidak bertanggung jawab atas penerimaan / non-penerimaan atau pemrosesan / non-pemrosesan informasi yang telah ditransmisikan pengguna dari dan ke BantuNusantara melalui situs web ini atau melalui alamat elektronik.
</p>

            <h2>3. Kekayaan intelektual</h2>
            <p>Konten dan data situs web ini didistribusikan di bawah
                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Lisensi Internasional Creative Commons Attribution-NonCommercial-ShareAlike 4.0</a>
                dan kode sumbernya berada di bawah <a href="https://www.gnu.org/licenses/gpl-3.0.html"> lisensi GPLv3.</a></p>
        </div>

        {% endblock %}